#footer-wrapper
  %footer#footer
    %nav
      %ul
        %li
          %a{:href => "/"}
            %span Home
        %li
          %a{:href => "/fragancias"}
            %span Fragancias
        %li
          %a{:href => "/productos"}
            %span Productos
        %li
          %a{:href => "/tu-hogar"}
            %span Tu hogar
        %li
          %a{:href => "/articulos"}
            %span Artículos
        %li
          %a{:href => "/contactanos"}
            %span Contáctanos
    %p.copyright © 2011 Cofarma All Rights Reserved
    %a.logo{:href => "/"}
      %img{:src => "images/logo.png", :alt => "Pinolina"}
    %p.cofarma
      Pinolina es una Marca
      %a{:href => "" } Cofarma