#main-slider.fragancias
  .slider-container
    .slide
      .content
        %img{:src => "images/products/baby-fresh01.png", :alt => ""}
        .main
          %h2 Frutales
          %p.subheading Durazno
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %img{:src => "images/products/baby-fresh02.png", :alt => ""}
    .slide
      .content
        %img{:src => "images/products/baby-fresh01.png", :alt => ""}
        .main
          %h2 Frutales
          %p.subheading Durazno
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %img{:src => "images/products/baby-fresh02.png", :alt => ""}