#main-slider
  .slider-container
    .slide.slide1
      .content
        %h2 Lorem Ipsum Dolor Aimet
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %a{:href => ""} Ver m치s
    .slide.slide1
      .content
        %h2 Lorem Ipsum Dolor Aimet
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %a{:href => ""} Ver m치s
.floatleft.c425.clear
  %h2.decoration Fragancias
  #second-slider
    .slider-container
      .slide
        %a{:href => ""}
          %img{:src => "images/products/frutos-rojos.png", :alt => "Frutos Rojos"}
      .slide
        %a{:href => ""}
          %img{:src => "images/products/frutos-rojos.png", :alt => "Frutos Rojos"}
.floatright.c425
  %h2.decoration Novedades
  #third-slider
    .slider-container
      .slide
        %h3 Lorem ipsum dolor
        %img{:src => "images/flower.png"}
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %a{:href => ""} Ver m치s
      .slide
        %h3 Lorem ipsum dolor
        %img{:src => "images/flower.png"}
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
        %a{:href => ""} Ver m치s