#main.floatcenter
  .post
    .date
      Enero
      %span 20
    .content
      %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %p Suspendisse ac mollis nisl. In ac dui in massa ornare consectetur. Morbi id erat sed orci tristique hendrerit ut vitae neque. Nullam id interdum leo. Aenean rhoncus nibh mauris, et dapibus nisi. Duis ut varius velit. Vivamus malesuada varius iaculis. Praesent tellus ante, scelerisque sed interdum nec, accumsan sit amet libero. Duis placerat aliquam est id imperdiet. Pellentesque id est lectus, at consectetur quam. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      %p Suspendisse ac mollis nisl. In ac dui in massa ornare consectetur. Morbi id erat sed orci tristique hendrerit ut vitae neque. Nullam id interdum leo. Aenean rhoncus nibh mauris, et dapibus nisi. Duis ut varius velit. Vivamus malesuada varius iaculis. Praesent tellus ante, scelerisque sed interdum nec, accumsan sit amet libero. Duis placerat aliquam est id imperdiet. Pellentesque id est lectus, at consectetur quam. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      .meta
        %span Publicado por: Jack Black
  
  .post
    .date
      Enero
      %span 20
    .content
      %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %p Suspendisse ac mollis nisl. In ac dui in massa ornare consectetur. Morbi id erat sed orci tristique hendrerit ut vitae neque. Nullam id interdum leo. Aenean rhoncus nibh mauris, et dapibus nisi. Duis ut varius velit. Vivamus malesuada varius iaculis. Praesent tellus ante, scelerisque sed interdum nec, accumsan sit amet libero. Duis placerat aliquam est id imperdiet. Pellentesque id est lectus, at consectetur quam. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      %p Suspendisse ac mollis nisl. In ac dui in massa ornare consectetur. Morbi id erat sed orci tristique hendrerit ut vitae neque. Nullam id interdum leo. Aenean rhoncus nibh mauris, et dapibus nisi. Duis ut varius velit. Vivamus malesuada varius iaculis. Praesent tellus ante, scelerisque sed interdum nec, accumsan sit amet libero. Duis placerat aliquam est id imperdiet. Pellentesque id est lectus, at consectetur quam. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      .meta
        %span Publicado por: Jack Black