#main-slider
  .slider-container
    .slide.slide1
      .content
        %p 
          %strong Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien.
    .slide.slide1
      .content
        %p
          %strong Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien.
.floatleft.c425.clear
  %h2 Fragancias
  #second-slider
    .slider-container
      .slide
        %a{:href => ""}
          %img{:src => "images/products/fragancias01.png", :alt => ""}
      .slide
        %a{:href => ""}
          %img{:src => "images/products/fragancias01.png", :alt => ""}
.floatright.c425
  %h2 Novedades
  #third-slider
    .slider-container
      .slide
        .post
          .date
            Enero
            %span 20
          .content
            %h3 Lorem ipsum dolor
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
            %a{:href => ""} Ver más
      .slide
        .post
          .date
            Enero
            %span 20
          .content
            %h3 Lorem ipsum dolor
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam mauris, accumsan a fermentum in, tincidunt non sapien. Pellentesque sem neque, consequat non mollis tempor, placerat ut metus.
            %a{:href => ""} Ver más