%ul.image-grid
  %li
    %a{:href => ""}
      %img{:src => "images/products/product01.png", :alt => ""}
  %li
    %a{:href => ""}
      %img{:src => "images/products/product02.png", :alt => ""}
  %li
    %a{:href => ""}
      %img{:src => "images/products/product03.png", :alt => ""}
  %li
    %a{:href => ""}
      %img{:src => "images/products/product01.png", :alt => ""}