%footer#footer
  %p © 2011 Cofarma All Rights Reserved
  %nav
    %ul
      %li
        %a{:href => "/"}
          %span Home
      %li
        %a{:href => "/fragancias"}
          %span Fragancias
      %li
        %a{:href => "/productos"}
          %span Productos
      %li
        %a{:href => "/tu-hogar"}
          %span Tu hogar
      %li
        %a{:href => "/articulos"}
          %span Artículos
      %li
        %a{:href => "/contactanos"}
          %span Contáctanos
  %ul.social-media
    %li
      %a{:href => "/"}
        %img{:src => "images/icn/facebook.png", :alt => "Facebook"}
    %li
      %a{:href => "/"}
        %img{:src => "images/icn/twitter.png", :alt => "Twitter"}
    %li
      %a{:href => "/"}
        %img{:src => "images/icn/youtube.png", :alt => "Youtube"}