%header#header
  %h1#logo
    %a{:href => "/"}
      %img{:src => "images/logo.png", :alt => "Bonaire"}
  %nav
    %ul
      %li#home.active
        %a{:href => "/"}
          %span Home
      %li#fragancias
        %a{:href => "/fragancias"}
          %span Fragancias
      %li#productos
        %a{:href => "/productos"}
          %span Productos
      %li#hogar
        %a{:href => "/tu-hogar"}
          %span Tu hogar
      %li#articulos
        %a{:href => "/articulos"}
          %span Artículos
      %li#contactanos
        %a{:href => "/contactanos"}
          %span Contáctanos